[Unit]
Description=Altimeter Routine
After=time-set.target

StartLimitIntervalSec=1s
StartLimitBurst=1000

[Service]
Type=simple
WorkingDirectory=/opt/nrc
User=root
ExecStart=/opt/nrc/altimeter
StandardOutput=append:/opt/nrc/log/altimeter.log
StandardError=append:/opt/nrc/log/altimeter.log

Restart=on-failure
# Max rocket speed: 142m/s
RestartSec=10ms

[Install]
WantedBy=multi-user.target
